<% include partials/head %>

  <body>
  <div class="col-sm-8 col-sm-offset-2">      
   <div class="jumbotron" id="barchart" style="height: 900px;"></div>
   </div>
  <script  src="/javascripts/table.js" charset="utf-8"></script>
  </body>
</html>